header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 8px rgb(138, 138, 138);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
}

.menu {
  margin-right: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.buyNow {
  width: 100px;
  height: 50px;
  border: 3px 3px orange;
  border-color: orange;
  background-color: white;
  border-radius: 0% 30px 30px 30px;
}

.buyNow:hover {
  background-color: orange;
  background-size: 10px;
}

.menu li {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 160px;
  align-items: center;
}

.rightmenu {
  display: flex;
  justify-content: end;
  align-items: center;
}

.petPhotos {
  display: flex;
  justify-content: space-around;
}
.petPhotos img {
  margin-top: 20px;
  margin-left: 50;
  margin-right: 50;
  border-radius: 30px;
}
.lookText {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-content: flex-start;
}

.lookBar {
  display: flex;
  align-items: flex-end;
  margin-left: 50px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

h1,
h2 {
  display: flex;
  align-content: flex-start;
}

.viewAll {
  width: 100px;
  height: 50px;
  border: 3px 3px white;
  border-color: orange;
  background-color: orange;
  border-radius: 0% 30px 30px 30px;
}

.viewAll:hover {
  background-color: white;
  background-size: 10px;
}
