header {
  box-shadow: inset 5em black;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.menu {
  display: flex;
  justify-content: end;
}

.menu li {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 100px;
}

.rightmenu {
  display: flex;
  justify-content: end;
}

.petPhotos {
  display: flex;
  justify-content: center;
}

.petphotos > img {
  display: flex;
  justify-content: space-evenly;
}

.lookText {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-content: flex-start;
}

.lookBar {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  display: flex;
  align-content: flex-start;
}
